<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/forget.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="left">
            <div class="forget__image"></div>
            <div class="logo-text">4English</div>
        </div>
        <div class="right">
            <div class="forget__right">
                <div class="forget__question">Chưa có tài khoản?
                    <a href="/register" class="user-register link-text">Đăng ký</a>
                </div>
                <div th:if="${param.success}" class="success-container">
                    <div class="alert alert-info text-white">Email sent to you to Reset Password.
                        Please check Spam folder if mail not visible!</div>
                </div>
                <div th:if="${param.error}" class="error-container">
                    <div class="alert alert-info text-white">Token Expired.Please click on Forgot Password again.</div>
                </div>
                <div class="forget__form">
                    <h1 class="text-login">Quên mật khẩu?</h1>
                    <div class="sub-text">Vui lòng nhập email</div>
                        <form action="/forgotPassword" method="post" th:object="${newUser}">
                            <div class="forget__form-group" >
                                    <span class="icon-email">
                                          <img src="/images/email.png" alt="" class="icon_field">
                                        <input type="email" placeholder="Email" class="input__field" th:field="*{email} ">
                                    </span>
                            </div>

                            <div class="forget__note">
                                By clicking Sign up, I agree that I have read and accepted the
                                <a href="" class="forget__note--link-text link-text" target="_blank">Terms of Use</a>
                                and
                                <a href="" class="forget__note--link-text link-text" target="_blank">Privacy Policy</a>.
                            </div>

                            <div class="text-center">
                                <button type="submit" class="button button--blue">Gửi</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    const filed=document.querySelector('.forget__form');
    filed.querySelector('.input__field').classList.add('forget__form-group--active');
    filed.classList.add('forget__form-group--active');
</script>
</body>
</html>