<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="left">
            <div class="sign-in__image"></div>
            <div class="logo-text">4English</div>
        </div>
        <div class="right">
            <div class="sign-in__right">
                <div class="sign-in__question">Chưa có tài khoản?
                    <a href="" class="user-register link-text"> Đăng ký ngay</a>
                </div>
                <div class="sign--in__form">
                    <h1 class="text-login">Sign in to 4English</h1>
                    <div class="sub-text">with your social network</div>
                    <div class="sign-in__socials">
                        <div class="sign-in__social">
                            <img alt="" class="sign-in__social-logo">
                        </div>
                        <div class="sign-in__social">
                            <img alt="" class="sign-in__social-logo">
                        </div>
                        <div class="sign-in__social">
                            <img alt="" class="sign-in__social-logo">
                        </div>
                    </div>
                        <div class="sign-in__or">
                            <hr>
                            <span>Or</span>
                        </div>
                        <form>
                            <div class="sign-in__form-group" >
                                    <span class="icon-email">
                                        <input type="email" placeholder="Email" class="input__field">
                                    </span>
                            </div>

                            <div class="sign-in__form-group" >
                                    <span class="icon-password">
                                        <input type="password" placeholder="Password" class="input__field">
                                    </span>
                            </div>
                        </form>
                    </div>
                <div class="sign-in__note">
                    <a href="" class="sign-in__note--link-text link-text" target="_blank">Quên mật khẩu? </a>
                </div>

                <div class="text-center">
                    <button class="button__login button--blue">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>