:root{
    --tw-ring-offset-shadow:0 0 #0000;
    --tw-ring-shadow:0 0 #0000;
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.\!z-50{
    z-index: 50!important;
}

.top-0{
    top:0;
}

.h-20{
    height:5rem;
}

.right-0{
    right:0;
}

.left-0{
    left: 0;
}

.flex{
    display: flex;
}

.md\:self-start{
    align-self:flex-start;
}

.shadow-sm{
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.md\:block{
    display: block;
}

.navbar{
    display: flex;
    z-index: 50;

}

.duration-500{
    transition-duration: .5s;
}

.transition{
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.self-center{
    align-self:center;
}

.cursor-pointer{
    cursor: pointer;
}

.px-5{
    padding-left:1.25rem;
    padding-right:1.25rem;
}

.gap-5{
    gap:1.25rem
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.flex-row{
    flex-direction: row;
}

.h-full{
    height: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.relative{
    position: relative;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

@media (min-width: 768px) {
    .md\:flex{
        display: flex;
    }
    .md\:items-center{
        align-items: center;
    }
    .md\:flex-row{
        flex-direction: row;
    }

    .md\:flex{
        display: flex;
    }
}

.ease-in-out{
    transition-timing-function:cubic-bezier(.4,0,.2,1);
}

.text-gray-800{
    --tw-text-opacity: 1;
    color: rgb(35 36 45/var(--tw-text-opacity));
}

.font-semi-bold{
    font-weight:600;
}

.m-1{
    margin:0.25rem;
}
.w-0{
    width: 0;
    height: 100%;
}
.bg-primary{
    --tw-bg-opacity: 1;
    /*background-color: rgb(20 121 244/var(--tw-bg-opacity));*/
    background:#1479f4;
}

