<div th:fragment="script">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/adminlte.min.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/function.js"></script>
  <script src="/js/profileAdmin.js"></script>
  <script src="/js/taiKhoanAjax.js"></script>
  <script src="/js/quanLyBaiDoc.js"></script>
  <script src="/js/quanLyBaiNghe.js"></script>
  <script src="/js/quanLyGrammar.js"></script>
  <script src="/js/simplemde.js"></script>
  <script src="/js/codemirror/tablist.js"></script>

  <script>
    setTimeout(() => {
      $('#flash-alert ').fadeOut(2000)
      $(".alert-success").fadeOut(2000)
      $(".alert-danger").fadeOut(2000)
    }, 1000);
  </script>

</div>